
%header
  %p= link_to 'New Complaint', new_complaint_path
  %h2 Newest Complaints

%ul.complaints
  - @complaints.each do |complaint|
    %li
      %article
        %h3= link_to complaint.description, complaint
        %ul.controls
          %li= link_to 'Show', complaint
