/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

// Site-wide variables
$primary_color: #191970;
$base_font_size: 24px;

// Site-wide functions
@function px-to-em($target,$context:$base_font_size) {
  @return ($target / $context) * 1em;
}


/* Base Styles (HTML Selectors) */
html {
  font-size: px-to-em($base_font_size,16px); /* 24 / 16 = */
  color: $primary_color;
  line-height: px-to-em(28px);
  background-color: #DCDCDC;
}

body {
  padding: 5%
}

h1 {
  font-size: px-to-em(48px);
  line-height: px-to-em(64px,48px); /* 28 * 2 = 48 */
  //background-color: black;
  //color: white;
}

h2 {
  font-size: px-to-em(28px);
  line-height: px-to-em(30px,28px);
  padding-top: px-to-em(16px,18px);
  padding-bottom: px-to-em(16px,18px);
}

h3 {
  font-weight: bold;
  font-size: px-to-em(20px);
  line-height: px-to-em(22px,20px);
}


input {
  background: white;
  box-sizing: border-box;
  line-height: px-to-em(24px,18px);
  padding: px-to-em(16px,18px);
}

label,
input {
  display: block;
}

form li {
  padding-bottom: px-to-em(16px,18px);
  line-height: px-to-em(24px,18px);
  list-style: none;
}

ul {
  line-height: px-to-em(24px,18px);
  list-style: none;
}

li {
  padding-left: 2%;
  padding-top: 2%;
  line-height: px-to-em(24px,18px);
  background-color: #696969;
  border-radius: px-to-em(10px);
  margin: px-to-em(5px);
  width: 100%;
  box-sizing: border-box;
}

ul.info{
  padding-left: 3%;
  font-size: px-to-em(18px);
}


ul.controls{
  text-align: left;

}

footer {
  line-height: px-to-em(28px);
  text-align: right;
  font-weight: bold;
}



/* Layout Styles (Usually Landmark ID Selectors) */


/* Modular Styles (Repeating Class Selectors) */


/* State Styles (JavaScript-Dependent Styles, Media Queries) */

@media screen and (min-width: 380px) {


}
@media screen and (min-width: 540px) {

}
@media screen and (min-width: 920px) {

}
